<head>
  <title>Consigue saldo o mensajes gratis para celular Movistar y Claro en Perú</title>
  <meta property="fb:app_id" content="344217162300291"/>
  <meta property="og:url" content="http://www.saldogratis.biz" />
  <meta property="og:title" content="Consigue saldo o mensajes gratis para celular Movistar y Claro en Perú" />
  <meta property="og:image" content="http://www.saldogratis.biz/images/logo.jpg" />
  <meta property="og:description" content="Obtén recarga gratis en tu celular Claro o Movistar siguiendo unos pequeños pasos." />
  <meta name="description" content="Obtén recarga gratis en tu celular Claro o Movistar siguiendo unos pequeños pasos.">
  <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
</head>
