<template name="menu">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Saldo Gratis</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor 'urls'}}">URLS</a></li>
        <li><a href="{{pathFor 'clientes'}}">Clientes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons }}
      </ul>
    </div>
  </nav>
</template>
