<template name="step4">
  {{> flashMessages}}
  {{>facebook}}
  <div class="panel panel-success">
    <div class="panel-heading">¡Felicidades! (Paso 4 de 4){{count}}</div>
    <div class="panel-body">
      <div class="well text-center">
        ¡Muy bien! Revisaremos tus datos y los comentarios que llenaste y tu recarga estará lista en unos minutos.
        <h3>Ahora comparte con tus amigos</h3>
        <div class="wrapper">
          <div class="text-center">
            <iframe src="http://media.perunoticias.net/iframes/social.html"></iframe>
          </div>
          <div class="iframe">
            <iframe src="http://media.perunoticias.net/iframes/fb.php?url=http%3A%2F%2Fwww.saldogratis.biz%2F%3Fpage%3Dsaldo"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

