<template name="terms">
  <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          <h4 class="modal-title" id="termsLabel">Términos y condiciones</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li>Los Usuarios consienten y aceptan  voluntariamente que el uso de la página tiene lugar, en todo caso, bajo su autentica y exclusiva responsabilidad. </li>
            <li>Para acceder a los Servicios, los Usuarios deben proporcionar previamente &nbsp;ciertos datos de carácter personal (Nombre, Email y Teléfono celular) para poder cumplir con el objetivo del sitio.</li>
            <li>Los datos recolectados por el sitio no serán vendidos, publicados ni compartidos. No compartiremos tus datos personales con empresas,  organizaciones o personas físicas ajenas a este sitio.</li>
            <li>No garantizamos la disponibilidad y continuidad del funcionamiento del Sitio y de  los Servicios.</li>
            <li>Para poder participar <strong>es necesario contar con cuentas en las redes de <i class="fa fa-google-plus-square text-danger"></i> Google+ y/o <i class="fa fa-facebook-square text-info"></i> Facebook.</strong></li>
            <li>La promoción  es válida sólo en Perú y México.</li>
            <li>La recarga se realizará si y sólo si se cumplen todos los pasos establecidos en el  sitio.</li>
            <li>Sólo se realizará la recarga una vez por número.</li>
            <li>La cuenta de Facebook debe tener <strong>al menos 1 mes de antiguedad o deben ser cuentas legítimas</strong>.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</template>